/* BODY tag and entire HTML container */
html {
    height: 100%;
}

body {
    height: 100%;
    background: url(../images/x-wing-figher-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

#transparent-white-bg-color {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgba(255,255,255,0.7);
}


/* Items inside BODY tag */
a {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 3px;
}

img {
    width: 100px;
}

#your-character a {
    border: 3px solid green;
}

#attacker a {
    border: 3px solid red;
}

#defender a {
    border: 3px solid black;
}

.dead {
    display: none;
}